/* stylelint-disable selector-max-id */

.globalwatchlist-content hr {
	height: 2px;
	clear: both;
}

.oo-ui-labelWidget {
	display: block;
	padding-bottom: 5px;
}

body.skin-cologneblue .tagline,
body #siteSub {
	display: none;
}
