<li class="ext-globalwatchlist-emptywatchlist">
	<a href="{{special-watchlist-url}}" target="_blank">{{site-name}}</a>
	{{! Ensure there is no whitespace between the parentheses and the link }}
	(<a href="{{special-edit-watchlist-url}}" target="_blank">{{edit-watchlist-msg}}</a>)
</li>